<div class="main-header">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">

        <a href="#" class="logo">
            <span class="navbar-brand"><img src="/bookshelf/static/assets/img/du_shield.png" height="50"> PDF Bookshelf</span>
        </a>
    </div>
    <!-- End Logo Header -->

    <!-- Navbar Header -->
    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark"></nav>
    <!-- End Navbar -->
</div>