<footer class="footer">
    <div class="container-fluid">
        <div class="copyright ml-auto">
            <%=organization%> | <%=appname%> &nbsp;&nbsp; <%=appversion%>
        </div>
    </div>
</footer>