<ul class="nav nav-primary">
    <li class="nav-item active">
        <a href="/dashboard/home" aria-expanded="false">
            <i class="fas fa-home"></i>
            <p>Home</p>
        </a>
        <div id="dashboard">
            <ul>
                <li>
                    <a href="/dashboard/upload">
                        <span class="sub-item">Upload PDFs</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/users">
                        <span class="sub-item">Users</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>